# Environment variables
.env

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
.env/
bin/
lib/
include/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Project specific
bbox.json
chokepoints.bbox
